/* descendant selector */

div h1{
    color: aquamarine;
}

/* child selector */

div > h1{
     background-color: rgb(168, 157, 178);
}

div + h1{
    background-color: #25ac105f;
}

div ~ p{
    background-color:hsl(0, 92%, 41%);
}