img{
    width: 50%;
    /*filter: opacity(80%); */
    /*filter: blur(2px); */
    /* filter: brightness(50%); */
    filter: grayscale(1);
}

/* css units 
relative(%,em,rem,vh,vw),absolute(px,cm,inch,pt)
*/

h1{
    background-color: red !important;
}

.demo{
    background-color: orange;
    color: aquamarine !important;
}

h2{
    font-size: 250px;
    background-image: url(https://wallpapercave.com/wp/wp3218761.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: text;
    color: transparent;
}
h3{
    background-color: orange !important;
}
.content{
    background-color: brown;
    color: aquamarine !important;
}

h6{
    font-size: 200px;
    background-image:url(https://wallpapercave.com/wp/wp3218761.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: text;
    color: transparent;
}