div{
    background-color: wheat;
    /* position: relative;
    top: 200px; */
    /* position: absolute;
    bottom: 0px; */
    /* position: fixed;
    top: 0; */
   /* position: sticky;
   top: 0;
    z-index: -2;*/
}

div{
    position: sticky;
    top: 0;
    z-index: +2;
}